@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #e06;
  font-family: 'Open Sans', sans-serif;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  display: block;
  background-color: #125;
  color: white;
  font-weight: 600;
  font-size: 13px;
  transition: .4s;
  margin-top: 25px;
}
a:hover {
    box-shadow: 0 4px 20px #125;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 1000px;
  display: grid;
  grid-template-columns: 400px 600px;
  grid-template-rows: 650px;
  background-color: #fff;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.7);
}

.card__img {
  width: 100%;
  height: 100vh;
}

img {
  width: 100%;
  height: 650px;
}

.card__info {
  padding: 35px;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(232, 232, 232);
}

.detail {
  font-size: 10px;
  color: silver;
}
.bxs-circle {
  font-size: 4px;
  padding: 4px;
  transform: translateY(-1px);
}
.rating {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rating i {
    font-size: 2rem;
    color: orange;
    padding: 0 5px;
}

.rating__number .imdb{
    font-size: 15px;
    font-weight: bolder;
}

.rating__number .max-imdb{
    font-size: 10px;
    font-weight: bolder;
}

.rating__number .view{
    font-size: 10px;
    color: silver;
}

.card__order {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(232, 232, 232);
}

.card__order,
.card__checkout {
   display: grid;
   grid-template-columns: 200px 1fr;
   margin-bottom: 20px;
}

.order__title h3,
.checkout__title h3{
    font-weight: normal;
}

.order__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    margin-bottom: 15px;
    font-size: 10px;
}

ul h4 {
    font-size: 12px;
}

ul:nth-child(2) h4{
    color: red;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 10px;
    color: silver;
    padding: 5px 0;
}

input {
    border: none;
    border-bottom: 1px solid rgb(182, 181, 181);
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    color: #000;
    outline: none;
}

.expired-date {
    display: flex;
    justify-content: space-around;
}

.date,
.code {
    display: flex;
    flex-direction: column;
}
.time {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.time input {
    width: 50px;
    margin-right: 10px;
}

.quikpay {
    margin: 5px 0;
}

.quikpay input{
    width: 18px;
    height: 18px;
    transform: translateY(3px);
}

.quikpay label {
    font-size: 15px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
}



